.item-medium-img {
    max-width: 150px;
    max-height: 120px;
   }
   .item-medium-title {
       font-size: 15px;
       font-weight: 700;
   }
   .item-medium-content {
       font-size: 13px;
       font-weight: 400;
   }