
#registration-block {
    text-align: end;
   
}
.registration-buttons{
    border: 1px solid #000;
    text-align: right;
    vertical-align: middle;
    padding: 3px 10px;
    font-size: 18px;
}
#button-subscribe {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #000;
    color: #fff;
}
#button-sign-in {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
    color:  #000;
}

#button-sign-in:hover {
    border-top-right-radius: 5px;
    background-color: #a9091f;
    color: white;
  
}

@media (max-width: 830px) {
    .registration-buttons {
       font-size: 10px;
    }
}