.category-news-container{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 95%;
  }
  
  .category-news-title {
    text-align: center;
    height: 60px;
    background-color: rgb(160, 144, 144);
    line-height: 60px;
    font-size: 40px;
    margin-top: 10px;
}
  
@media (max-width: 1150px) {
  .category-news-container{
     grid-template-columns: repeat(2, 1fr);
    }
  }
    @media (max-width: 850px) {
      .category-news-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
      }
  
  }
