
.column-block-article-title {
    text-align: center;
    height: 30px;
    background-color: rgb(160, 144, 144);
    line-height: 30px;
    margin: 2px
}

.news-column-side {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-column-side > img {
    display: block;
    max-width: 300px;
}
.news-column-center {
 flex-basis: 600px;
 border-bottom: dotted 1px black;
}
.news-column-center > img {
    display: block;
    max-width: 500px;
}

