#header-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 1120px) {
    #header-container {
        width: 100%;
        margin: auto;
        justify-content: space-around;
        box-shadow: 0 2px 3px rgba(0,0,0,.4);
     
}
}

